drizzle

# Dependencies
node_modules

# Build outputs
out
dist
generated
*.tgz

# Certificates, credentials
certs
creds

drizzle/.cache

# Code coverage
coverage
*.lcov

# Logs
logs
*.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Environment variable files
.env
.env.docker
.env.development.local
.env.test.local
.env.production.local
.env.local

# Caches
.eslintcache
.cache
*.tsbuildinfo

# IDEs
.vscode
.cursor
.idea

# OS
.DS_Store

# Miscellaneous
README.md
LICENSE
Makefile
helm-charts
.editorconfig
